# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Megaphone
MyPhonebook
AccountTest
BraiiiiiiinnnzzzZ
MoarBrainz!
Brain
Violence
sedForLoosers
Harl_2.0
harlFilter
Fixed
ClapTrap
ScavTrap
FragTrap
DiamondTrap
Polymorphism
LetThemBurn
Abstract
IceNcure
Bureaucrat
Formular_28C
BetterThanCoffeeMaking
ScalarConverter
Serialize
Identify
Whatever
Iter
Array
Easyfind
Span
btc
RPN
PmergeMe

# additional files
input.txt

# Other Files
*.replace
*test*
